<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<!-- testiram mapu
<p>
  
  <agm-map [latitude]="45.242268" [longitude]="19.842954" [zoom]="18" >
   
   
    <agm-marker [latitude]="42.22" [longitude]="21" [title]="Title"
    [label]="label">

      
      <agm-info-window [latitude]="42" [longitude]="21" >

       
        <span style="font-size: 16px;font-family:'Times New Roman'">Fakultet tehničkih nauka</span>
        <br/>
        <span style="font-family:'Times New Roman'; color:gray;"><strong>Jugodrvo</strong></span>
        <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span>
        
      </agm-info-window>

    </agm-marker>
  </agm-map>
</p> -->

<!-- provera da li bootstrap radi
  <button class="btn btn-primary glyphicon glyphicon-user">   Bootstrap</button> -->
<!-- i radi :) -->

