<div class="container" *ngIf="loggedInBool == true">
  <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="panel panel-custom">
        <div class="panel-heading">
          <h3 class="panel-title">Popunite polja kako bismo odredili cenu karte.</h3>
         
    
        </div>
    <div class="panel-body">
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="TransportationType">Tip prevoza:</label>
            <div class="col-sm-8">
              <select id="TransportationType" formControlName="TransportationType" type="text" class="form-control">
              <option value='Urban'>Gradski</option>
              <option value='Suburban'>Prigradski</option>
              
              </select>
            </div>
      </div>
      
      <div class="form-group" >
          <label class="col-sm-2 control-label" for="TicketType">Tip karte:</label>
          <div class="col-sm-8">
            <select id="TicketType" formControlName="TicketType" type="text" class="form-control">
            <option value='Hourly'>Vremenska</option>
            <option value='Daily'>Dnevna</option>
            <option value='Monthly'>Mesecna</option>
            <option value='Yearly'>Godisnja</option>
            </select>
          </div>
    </div>



    </div>

    <div class="panel-footer">
        <button class="btn btn-primary" type="submit" [disabled]="!ticketForm.valid">Prikazi</button>
     </div>


    </div>
    </form>

</div>

<div class="container" *ngIf="loggedInBool == false">
    <form [formGroup]="ticketForm2" (ngSubmit)="onSubmit2()" class="form-horizontal">
      <div class="panel panel-custom">
          <div class="panel-heading">
            <h3 class="panel-title">Popunite polja kako bismo odredili cenu karte.</h3>
           
      
          </div>
      <div class="panel-body">
          <div class="form-group" >
              <label class="col-sm-2 control-label" for="TransportationType2">Tip prevoza:</label>
              <div class="col-sm-8">
                <select id="TransportationType2" formControlName="TransportationType2" type="text" class="form-control">
                <option value='Urban'>Gradski</option>
                <option value='Suburban'>Prigradski</option>
                
                </select>
              </div>
        </div>
        
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="TicketType2">Tip karte:</label>
            <div class="col-sm-8">
              <select id="TicketType2" formControlName="TicketType2" type="text" class="form-control">
              <option value='Hourly'>Vremenska</option>
              <option value='Daily'>Dnevna</option>
              <option value='Monthly'>Mesecna</option>
              <option value='Yearly'>Godisnja</option>
              </select>
            </div>
      </div>
      
      <div class="form-group" >
          <label class="col-sm-2 control-label" for="PassangerType2">Tip putnika:</label>
          <div class="col-sm-8">
            <select id="PassangerType2" formControlName="PassangerType2" type="text" class="form-control">
            <option value='Ordinary'>Redovan</option>
            <option value='Student'>Djak</option>
            <option value='Pensioner'>Penzioner</option>
            </select>
          </div>
    </div>
  
  
      </div>
  
      <div class="panel-footer">
          <button class="btn btn-primary" type="submit" [disabled]="!ticketForm2.valid">Prikazi</button>
       </div>
  
  
      </div>
      </form>
  
  </div>
  




<div class="container" *ngIf="offerBool == true">
  <p>Cena vase karte je {{totalPrice}}</p>

</div>
<div class="container" *ngIf="verifiedBool == false">
    <p>Da biste kupili kartu morate biti prijavljeni i  verifikovani od strane kontrolera!</p>
    
  </div>

  <div class="container">
  <button class="btn btn-primary" (click)="onBuyTicket()" *ngIf ="(verifiedBool==true && offerBool==true)">Kupi kartu</button>
</div>