<div class="container">
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-custom">
    <div class="panel-heading">
      <h3 class="panel-title">Prijava na sistem</h3>
    </div>
    <div class="panel-body">
    
      <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('Email').touched || userForm.get('Email').dirty) && userForm.get('Email').errors)}">
        <label class="col-sm-2 control-label" for="Email">Email:</label>
        <div class="col-sm-8">
          <input id="Email" formControlName="Email" type="text" class="form-control">
          <span class="help-block" *ngIf="((userForm.get('Email').touched || userForm.get('Email').dirty) && userForm.get('Email').errors)">
          <span *ngIf="userForm.get('Email').errors.required">
          Email je obavezan!
          </span>
          <span *ngIf="userForm.get('Email').errors.email">
             Email nije upisan u pravilnom formatu. Primer pravilnog formata johndoe@doe.com
          </span>
           
          </span>
        </div>
  </div>

  <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('Password').touched || userForm.get('Password').dirty) && userForm.get('Password').errors)}">
    <label class="col-sm-2 control-label" for="Password">Lozinka:</label>
    <div class="col-sm-8">
      <input id="Password" formControlName="Password" type="password" class="form-control"  pattern="(?=.*\d)(?=.*[!@#$%^*/\._?])(?=.*[a-z])(?=.*[A-Z]).{7,}">
      <span class="help-block" *ngIf="((userForm.get('Password').touched || userForm.get('Password').dirty) && userForm.get('Password').errors)">
        <span *ngIf="userForm.get('Password').errors.required">
        Lozinka je obavezna!
        </span>
        <span *ngIf="userForm.get('Password').errors.pattern">
         Lozinka mora imati barem 7 karaktera, od kojih su barem 1 veliko slovo, 1 malo slovo, 1 broj i 1 specijalni karakter!
        </span>
         
        </span>
    </div>
</div>
    
    
    
    
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Sacuvaj</button>
   </div>
    </div>
</form>


</div>