<div class="container">
<form [formGroup]="userForm" class="form-horizontal">
  <div class="panel panel-custom">
    <div class="panel-heading">
      <h3 class="panel-title">Registracija</h3>

    </div>
    <div class="panel-body">
      <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('fullName').touched || userForm.get('fullName').dirty) && userForm.get('fullName').errors)}">
        <label class="col-sm-2 control-label" for="fullName">Ime i prezime:</label>
        <div class="col-sm-8">
          <input id="fullName" formControlName="fullName" type="text" class="form-control">
          <span class="help-block" *ngIf="((userForm.get('fullName').touched || userForm.get('fullName').dirty) && userForm.get('fullName').errors)">
          <span *ngIf="userForm.get('fullName').errors.required">
          Ime i prezime je obavezno
          </span>
          <span *ngIf="userForm.get('fullName').errors.minlength || userForm.get('fullName').errors.maxlength">
              Ime i prezime mora da sadrzi izmedju 6 i 40 karaktera
          </span>
           
          </span>
        </div>
      </div>
      
        <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('email').touched || userForm.get('email').dirty) && userForm.get('email').errors)}">
            <label class="col-sm-2 control-label" for="email">Email:</label>
            <div class="col-sm-8">
              <input id="email" formControlName="email" type="text" class="form-control">
              <span class="help-block" *ngIf="((userForm.get('email').touched || userForm.get('email').dirty) && userForm.get('email').errors)">
              <span *ngIf="userForm.get('email').errors.required">
              Email je obavezan!
              </span>
              <span *ngIf="userForm.get('email').errors.email">
                 Email nije upisan u pravilnom formatu. Primer pravilnog formata johndoe@doe.com
              </span>
               
              </span>
            </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('password').touched || userForm.get('password').dirty) && userForm.get('password').errors)}">
          <label class="col-sm-2 control-label" for="password">Lozinka:</label>
          <div class="col-sm-8">
            <input id="password" formControlName="password" type="password" class="form-control">
            <span class="help-block" *ngIf="((userForm.get('password').touched || userForm.get('password').dirty) && userForm.get('password').errors)">
            <span *ngIf="userForm.get('password').errors.required">
            Lozinka je obavezna!
            </span>
          
             
            </span>
          </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('repPassword').touched || userForm.get('repPassword').dirty) && userForm.get('repPassword').errors)}">
        <label class="col-sm-2 control-label" for="password">Potvrdi lozinku:</label>
        <div class="col-sm-8">
          <input id="repPassword" formControlName="repPassword" type="password" class="form-control">
          <span class="help-block" *ngIf="((userForm.get('repPassword').touched || userForm.get('repPassword').dirty) && userForm.get('repPassword').errors)">
          <span *ngIf="userForm.get('repPassword').errors.required">
          Lozinka je obavezna!
          </span>
        
           
          </span>
        </div>
  </div>


      <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('birthdate').touched || userForm.get('birthdate').dirty) && userForm.get('birthdate').errors)}">
          <label class="col-sm-2 control-label" for="birthdate">Datum rodjenja:</label>
          <div class="col-sm-8">
            <input id="birthdate" formControlName="birthdate" type="date" class="form-control">
            <span class="help-block" *ngIf="((userForm.get('birthdate').touched || userForm.get('birthdate').dirty) && userForm.get('birthdate').errors)">
            <span *ngIf="userForm.get('birthdate').errors.required">
              Datum rodjenja je obavezan!
            </span>
            <span *ngIf="userForm.get('birthdate').errors.validateDate">
              Korisnik ne sme biti mladji od 12 godina i ne stariji od 100!
            </span>
             
            </span>
          </div>
    </div>
    <div class="form-group" >
        <label class="col-sm-2 control-label" for="passangerType">Tip putnika:</label>
        <div class="col-sm-8">
          <select id="passangerType" formControlName="passangerType" type="date" class="form-control">
          <option value='1'>Redovan</option>
          <option value='2'>Djak</option>
          <option value='3'>Penzioner</option>
          </select>
        </div>
  </div>
      

    

  </div>
  </div>
</form>
</div>
