<div class="container">
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-custom">
    <div class="panel-heading">
      <h3 class="panel-title">Registracija</h3>

    </div>
    <div class="panel-body">
      <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('FullName').touched || userForm.get('FullName').dirty) && userForm.get('FullName').errors)}">
        <label class="col-sm-2 control-label" for="FullName">Ime i prezime:</label>
        <div class="col-sm-8">
          <input id="FullName" formControlName="FullName" type="text" class="form-control">
          <span class="help-block" *ngIf="((userForm.get('FullName').touched || userForm.get('FullName').dirty) && userForm.get('FullName').errors)">
          <span *ngIf="userForm.get('FullName').errors.required">
          Ime i prezime je obavezno
          </span>
          <span *ngIf="userForm.get('FullName').errors.minlength || userForm.get('FullName').errors.maxlength">
              Ime i prezime mora da sadrzi izmedju 6 i 40 karaktera
          </span>
           
          </span>
        </div>
      </div>
      
        <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('Email').touched || userForm.get('Email').dirty) && userForm.get('Email').errors)}">
            <label class="col-sm-2 control-label" for="Email">Email:</label>
            <div class="col-sm-8">
              <input id="Email" formControlName="Email" type="text" class="form-control">
              <span class="help-block" *ngIf="((userForm.get('Email').touched || userForm.get('Email').dirty) && userForm.get('Email').errors)">
              <span *ngIf="userForm.get('Email').errors.required">
              Email je obavezan!
              </span>
              <span *ngIf="userForm.get('Email').errors.email">
                 Email nije upisan u pravilnom formatu. Primer pravilnog formata johndoe@doe.com
              </span>
               
              </span>
            </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('Password').touched || userForm.get('Password').dirty) && userForm.get('Password').errors)}">
          <label class="col-sm-2 control-label" for="Password">Lozinka:</label>
          <div class="col-sm-8">
            <input id="Password" formControlName="Password" type="password" class="form-control"  pattern="(?=.*\d)(?=.*[!@#$%^*/\._?])(?=.*[a-z])(?=.*[A-Z]).{7,}">
            <span class="help-block" *ngIf="((userForm.get('Password').touched || userForm.get('Password').dirty) && userForm.get('Password').errors)">
              <span *ngIf="userForm.get('Password').errors.required">
              Lozinka je obavezna!
              </span>
              <span *ngIf="userForm.get('Password').errors.pattern">
               Lozinka mora imati barem 7 karaktera, od kojih su barem 1 veliko slovo, 1 malo slovo, 1 broj i 1 specijalni karakter!
              </span>
               
              </span>
          </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('RepeatedPassword').touched || userForm.get('RepeatedPassword').dirty) && userForm.get('RepeatedPassword').errors)}">
        <label class="col-sm-2 control-label" for="RepeatedPassword">Potvrdi lozinku:</label>
        <div class="col-sm-8">
          <input id="RepeatedPassword" formControlName="RepeatedPassword" type="password" class="form-control" pattern="(?=.*\d)(?=.*[!@#$%^*/\._?])(?=.*[a-z])(?=.*[A-Z]).{7,}">
          <span class="help-block" *ngIf="((userForm.get('RepeatedPassword').touched || userForm.get('RepeatedPassword').dirty) && userForm.get('RepeatedPassword').errors)">
          <span *ngIf="userForm.get('RepeatedPassword').errors.required">
          Lozinka je obavezna!
          </span>
          <span *ngIf="userForm.get('RepeatedPassword').errors.pattern">
           Lozinka mora imati barem 7 karaktera, od kojih su barem 1 veliko slovo, 1 malo slovo, 1 broj i 1 specijalni karakter!
          </span>
           
          </span>
        </div>
  </div>


      <div class="form-group" [ngClass]="{'has-error' : ((userForm.get('DateOfBirth').touched || userForm.get('DateOfBirth').dirty) && userForm.get('DateOfBirth').errors)}">
          <label class="col-sm-2 control-label" for="DateOfBirth">Datum rodjenja:</label>
          <div class="col-sm-8">
            <input id="DateOfBirth" formControlName="DateOfBirth" type="date" class="form-control">
            <span class="help-block" *ngIf="((userForm.get('DateOfBirth').touched || userForm.get('DateOfBirth').dirty) && userForm.get('DateOfBirth').errors)">
            <span *ngIf="userForm.get('DateOfBirth').errors.required">
              Datum rodjenja je obavezan!
            </span>
            <span *ngIf="userForm.get('DateOfBirth').errors.validateDate">
              Korisnik ne sme biti mladji od 12 godina i ne stariji od 100!
            </span>
             
            </span>
          </div>
    </div>
    <div class="form-group" >
        <label class="col-sm-2 control-label" for="PassangerType">Tip putnika:</label>
        <div class="col-sm-8">
          <select id="PassangerType" formControlName="PassangerType" type="text" class="form-control" [(ngModel)] = 'defaultPassangerType' >
          <option value='Ordinary'>Redovan</option>
          <option value='Student'>Djak</option>
          <option value='Pensioner'>Penzioner</option>
          </select>
        </div>
  </div>
      

    


  </div>
  <div class="panel-footer">
     <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Sacuvaj</button>
  </div>
  </div>
</form>
</div>
